<nav id="main-nav">
  <div id="main-nav-content">
    <ul>
      <li><a href="{{relative '/'}}">{{> s_logo}}</a></li>
      <li><a href="{{relative '/contact'}}">Kontakt</a></li>
      <li><a href="{{relative '/journalone'}}">{{> j1_logo}}Journal One</a></li>
      <li><a href="{{relative '/myoffer'}}">Mein Angebot</a></li>
      <li><a href="{{relative '/experience'}}">Erfahrung</a></li>
    </ul>
  </div>

  <div id="main-nav-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" version="1.1" viewBox="0 0 12 9">

      <rect x="0" y="0" width="12" height="1" fill="black"/>
      <rect x="0" y="4" width="12" height="1" fill="black"/>
      <rect x="0" y="8" width="12" height="1" fill="black"/>

    </svg>
  </div>
</nav>
